<a href="https://colab.research.google.com/github/abhinav-chakravarty/house-price-prediction/blob/main/house_price_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [32]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder

## Reading and Understanding the Data

In [33]:
df = pd.read_csv("Housing Dataset.csv")

In [34]:
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

## Converting Categorical Data into Numeric Data

In [36]:
df.mainroad.value_counts()

yes    468
no      77
Name: mainroad, dtype: int64

In [37]:
df.guestroom.value_counts()

no     448
yes     97
Name: guestroom, dtype: int64

In [38]:
df.basement.value_counts()

no     354
yes    191
Name: basement, dtype: int64

In [39]:
df.hotwaterheating.value_counts()

no     520
yes     25
Name: hotwaterheating, dtype: int64

In [40]:
df.airconditioning.value_counts()

no     373
yes    172
Name: airconditioning, dtype: int64

In [41]:
df.prefarea.value_counts()

no     417
yes    128
Name: prefarea, dtype: int64

In [42]:
df.furnishingstatus.value_counts()

semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64

In [44]:
# using LabelEncoder to convert mainroad, guestroom, basement, hotwaterheating, airconditioning and prefarea
# yes - 1
# no - 0
cn = LabelEncoder()
df['mainroad'] = cn.fit_transform(df['mainroad'].astype('str'))
df['guestroom'] = cn.fit_transform(df['guestroom'].astype('str'))
df['basement'] = cn.fit_transform(df['basement'].astype('str'))
df['hotwaterheating'] = cn.fit_transform(df['hotwaterheating'].astype('str'))
df['airconditioning'] = cn.fit_transform(df['airconditioning'].astype('str'))
df['prefarea'] = cn.fit_transform(df['prefarea'].astype('str'))

In [45]:
# converting furnishingstatus using replace() as it has 3 categories
replace_val = {"furnishingstatus":{"semi-furnished":2,"unfurnished":0, "furnished":1 }}
df = df.replace(replace_val)

In [47]:
df.head(10)

      price   area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000   7420         4  ...        2         1                 1
1  12250000   8960         4  ...        3         0                 1
2  12250000   9960         3  ...        2         1                 2
3  12215000   7500         4  ...        3         1                 1
4  11410000   7420         4  ...        2         0                 1
5  10850000   7500         3  ...        2         1                 2
6  10150000   8580         4  ...        2         1                 2
7  10150000  16200         5  ...        0         0                 0
8   9870000   8100         4  ...        2         1                 1
9   9800000   5750         3  ...        1         1                 0

[10 rows x 13 columns]

## Spliting Train and Test Data

In [48]:
# for spliting, we need X (features) and y (target) variables
# target -> price
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [50]:
X.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2         1                 1
1  8960         4          4  ...        3         0                 1
2  9960         3          2  ...        2         1                 2
3  7500         4          2  ...        3         1                 1
4  7420         4          1  ...        2         0                 1

[5 rows x 12 columns]

In [51]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [52]:
# using test_train_split to split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [53]:
X_train.shape

(381, 12)

In [54]:
X_test.shape

(164, 12)

In [55]:
y_train.shape

(381,)

In [56]:
y_test.shape

(164,)

## Building Model

In [57]:
model = LinearRegression()

In [58]:
# fitting the model
model.fit(X_train,y_train)

LinearRegression()

In [59]:
# predicting the model
y_pred = model.predict(X_test)

## Checking Accuracy of Model

In [62]:
# using r2_score to check the accuracy
acc = r2_score(y_test, y_pred)
print(f"Accuracy: {round(acc,2)*100} %")

Accuracy: 74.0 %